<div class="page">
  <div class="app-container">

    <header class="header">
      <h1 class="hidetitle">Hidden</h1>
    </header>

    <div class ="Login-Form">
      
      <form>

        <header class="form-header">
          <h1 class="hidetitle">Create Account</h1>
        </header>
        <input type="text" id="FullName" placeholder="  Full Name" name="Fullname" required>
        <input type="text" id="StudentID" placeholder="  Student ID" name="Studentid" required>
        <input type="text" id="Email" placeholder="  Email" name="email" required>
        <input type="password" id="password" placeholder="  Password" name="password" required>
        <input type="password" id="ConfirmPassword" placeholder="  Confirm Password" name="confirmpassword" required>
        <button type="submit">Create Account</button>

      </form>

    </div>

  </div>
</div>