<div class="page">
  <div class="app-container">

    <header class="header">
      <h1 class="hidetitle">Hidden</h1>
    </header>

    <div class ="Login-Form">
      
      <form>

        <input type="text" id="email" placeholder="  Email or Student ID" name="email" required>
        <input type="password" id="password" placeholder="  Password" name="password" required>
        <button type="submit">Login</button>


      </form>

      <div class="Create-Account">
        <a>Create Account</a>
      </div>

      <div class="Forgot-Password">
        <a>Forgot Password?</a>
      </div>

    </div>
  </div>
</div>